body {
    background: #2D3142;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 25px;
}
@font-face {
    font-family: "VimSM";
    src: url('fonts/SMM002/VimSM.otf');
}
a {
    text-decoration: none;
    color: #FBFEF9;
}
h1,
h2,
h3 {
    margin-left: 5px;
    color: #FBFEF9;
    font-family: "VimSM", sans-serif;
}
button {
    margin: 5px;
    background: none;
    border: 1px solid #FBFEF9;
    padding: 8px;
    color: #FBFEF9;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
}
button:hover {
    background: #424554;
}
.wrapper {
    margin: 0 auto;
    width: 85%;
}

/*=========HEADER=============*/

header {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "VimSM", sans-serif;
}
header h1 {
    font-size: 5em;
}

/*=========NAVBAR=============*/

nav {
    background: #2D3142;
    margin: 5px;
    border: 1px solid #FBFEF9;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
}
nav a:hover {
    background: #424554;
}
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: flex-start;
    }
    nav li {
        flex-grow: 1;
    }
}

/*=========BODY=============*/

.container {
    display: flex;
}
.item {
    height: 380px;
    margin: 5px;
    position: relative;
}

/*-----------TOP STORIES-------------*/

.topStory:nth-child(1) {
    background-color: aqua;
    flex: 1;
    padding: 0;
}
.topStory:nth-child(2) {
    background-color: aquamarine;
    flex: 1;
    padding: 0;
}
.topStory:nth-child(3) {
    background-color: cornflowerblue;
    flex: 1;
    padding: 0;
}
.topStory:nth-child(4) {
    background-color: cornflowerblue;
    flex: 2;
    padding: 0;
}
.topStory:nth-child(5) {
    background-color: aquamarine;
    flex: 1;
    padding: 0;
}
.topStory:nth-child(6) {
    background-color: aqua;
    flex: 1;
    padding: 0;
}
.topStory img {
    height: 100%;
    width: 100%;
}
.topStory p {
    padding: 10px;
    margin: 0px;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
}
.description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.author {
    text-align: center;
}

/*=========RESPONSIVE LAYOUT HOME PAGE=============*/

@media screen and (max-width:990px) {
    body {
        margin: 5px;
    }
    .wrapper {
        width: 100%;
    }
    .container {
        flex-wrap: wrap;
    }
    .item {
        padding: 20px;
        margin: 2px;
    }
    .topStory:nth-child(1) {
        flex-basis: 100%;
    }
    .topStory:nth-child(4) {
        flex-basis: 100%;
    }
    .gadgets,
    .science,
    .gaming {
        text-align: center;
    }
    .gadget-top-1,
    .science-top-1,
    .gaming-top-1 {
        flex-basis: 100%;
    }
    .single-story {
        padding: 0;
        flex-basis: 100%;
    }
}

/*=========FOOTER=============*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: #FBFEF9;
}
.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.footer-links a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #FBFEF9;
}
